<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>

<body>
    <footer class=" footer bg-dark py-2 mt-auto">
        <div class="container">
            <span class="text-muted">
                Made By Vishu Gupta &copy
            </span>
        </div>
    </footer>
</body>

</html>